@page "/BatteryServiceDemo"
@using Blazm.Bluetooth
@inject BluetoothNavigator navigator



<h3>BatteryService</h3>

@batterylevel

<button @onclick="Connect">Connect</button>

@code { 

    int batterylevel = 0;

    protected async Task Connect()
    {
        var serviceid = "0000180f-0000-1000-8000-00805f9b34fb";
        var characteristics= "00002a19-0000-1000-8000-00805f9b34fb";

        var q = new RequestDeviceQuery();
        q.Filters.Add(new Filter() { Name = "battery_service" });
        var device=await navigator.RequestDeviceAsync(q);

        await device.SetupNotifyAsync(serviceid, characteristics);
        device.Notification += Value_Notification;
    }


    private void Value_Notification(object sender, CharacteristicEventArgs e)
    {
        batterylevel = e.Value.FirstOrDefault();
        StateHasChanged();
    }
}
